{% block body %}
    <div class="card h-full">
        <div class="card-header">
            <h3 class="card-title">
                Répartition de mes lectures
            </h3>
        </div>
        <div class="card-body flex flex-col gap-5">
            <figure id="chart">
            </figure>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var options = {
            chart: {
                width: 500,
                height: 500,
                type: 'radar'
            },
            series: [
                {
                    name: "Nombre de lectures",
                    data: [{% for key,value in categoryData %} '{{ value }}', {% endfor %}],
                },
            ],
            xaxis: {
                categories: [{% for key,value in categoryLabels %} '{{ value }}', {% endfor %}],
                labels: {
                    show: true,
                    style: {
                        colors: ["#a8a8a8"],
                        fontSize: "11px",
                        fontFamily: 'Arial',
                    }
                }
            },
            fill: {
                opacity: 0.5,
                colors: ["cyan"]
            },
        };
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
{% endblock %}