<div class="modal" data-modal="true" id="search_modal">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <i class="ki-filled ki-magnifier text-gray-700 text-xl">
            </i>
            <input class="input px-0 border-none bg-transparent shadow-none ms-2.5" name="query"
                   placeholder="Rechercher..." type="text" value="" id="search_input"/>
            <button class="btn btn-sm btn-icon btn-light btn-clear shrink-0" data-modal-dismiss="true">
                <i class="ki-filled ki-cross">
                </i>
            </button>
        </div>
        <div class="modal-body p-0 pb-5" id="search_results">
            <!-- Les résultats de recherche seront insérés ici -->
        </div>
    </div>
</div>
<script src="{{ asset('js/search.js') }}"></script>